@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

/* !NAVBAR */
nav ul li {
  padding: 5px;
  margin: 5px;
  background-color: paleturquoise;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  border: 1px black solid;
  list-style-type: none;
}

.text-link {
  text-decoration: none;
  color: Black;
}

nav {
  margin-bottom: 30px;
}

.active-link {
  background-color: orangered;
  color: white;
}

/* !BANNER */
.Banner {
  background-color: black;
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

/* !HeaderText */
.HeaderText {
  /* text-align: center; */
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: "Anton", sans-serif;
  font-size: 32px;
}

/* !BET LIST */
table {
  font-family: arial, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid;
  margin-bottom: 10px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: bolder;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* !New Bet form Box Container */

.newBetBox {
  background-color: cornflowerblue;
  padding: 30px 10px;
}

/* !New Bet Box Input Fields */
.newBetBoxFields {
  height: 30px;
  border-radius: 8px;
  margin-left: 30px;
  align-self: flex-end;
  width: 70%;
}

/* !Draw Select Input */
.drawSelectInput {
  font-weight: bolder;
  border: 1px solid black;
  height: 35px;
}

.textRed {
  color: red;
}

/* !ERROR New Bet Box Input Fields */
.ErrorBetBoxFields {
  height: 30px;
  border-radius: 8px;
  margin-left: 30px;
  align-self: flex-end;
  width: 70%;
  border: 2px solid red;
}

.form-group {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightskyblue;
}

/* !New Bet Box Labels */

.newBetBoxLabels {
  font-size: 20px;
  font-weight: bolder;
}

/* !New Bet Submit Button */
.submitBtn {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  background-color: orangered;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

/* !Add New Bet Number Btn */

.addBetBtn {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  background-color: #023c40;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

/* !Flash Message */
.flashMsg {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}
