@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

/* !NAVBAR */
nav ul li {
  padding: 5px;
  margin: 3px;
  background-color: paleturquoise;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  border: 1px black solid;
  text-decoration: none;
}

nav {
  margin-bottom: 30px;
}

.Links {
  text-decoration: none;
  color: black;
}

.active-link {
  background-color: orangered;
  color: white;
}

/* !BANNER */
.Banner {
  background-color: black;
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

/* !HeaderText */
.HeaderText {
  text-align: center;
  margin-bottom: 5px;
}

/* !BET LIST */
table {
  font-family: arial, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
